button.win-head{
  width:17px;
  height:17px;
  outline:none;
  border:2px solid transparent;
  border-radius: 50%;
  margin-right: 4px;
  z-index: 20000;
  -webkit-app-region:none;
}

button.win-head#min-btn{
  background-color: rgba(255, 136, 0, 0.938);
}
button.win-head#max-btn{
  background-color: green;
}
button.win-head#close-btn{
  background-color: rgba(201, 0, 0, 0.966);
}

button.win-head#min-btn:hover{
  background-color: yellow;
}
button.win-head#max-btn:hover{
  background-color: rgb(157, 255, 0);
}
button.win-head#close-btn:hover{
  background-color: red;
}


button.add-drawer-btn{
  outline: none;
  height:25px;
  color:#fff;
  font-size: 10px;
  /*background-color: #f50057;*/
  background-color: transparent;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  text-align: center;
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  padding: 0 15px;
  overflow: visible;
  margin: 0;
  display: inline-flex;
}
button.add-drawer-btn:hover{
  text-decoration: none;
  outline: none;
  background-color: #fc347a;
}
button.add-drawer-btn:active{
  background-color: #f50057;
  border-color: #f50057;
}


button.add-search-btn{
  outline: none;
  height:25px;
  color:#fff;
  font-size: 10px;
  /*background-color: #f50057;*/
  background-color: transparent;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  text-align: center;
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  padding: 0 15px;
  overflow: visible;
  margin: 0;
  display: inline-flex;
}
button.add-search-btn:hover{
  text-decoration: none;
  outline: none;
  background-color: #fc347a;
}
button.add-search-btn:active{
  background-color: #f50057;
  border-color: #f50057;
}


:root{
  --win32-title-bar-background-color: #24292e;
  --color-new: #28a745;
  --color-renamed: #0366d6;
  --color-conflicted: #f66a0a;
  --color-deleted: #d73a49;
  --color-modified: #dbab09;
  --text-color: #24292e;
  --text-secondary-color: #6a737d;
  --background-color: #fff;
  --button-height: 25px;
  --button-background: #0366d6;
  --button-border-radius: 2px;
  --button-hover-background: #0372ef;
  --button-text-color: #fff;
  --button-focus-border-color: #005cc5;
  --link-button-color: #0366d6;
  --link-button-hover-color: #005cc5;
  --secondary-button-background: #fafbfc;
  --secondary-button-hover-background: #fff;
  --secondary-button-text-color: var(--text-color);
  --secondary-button-focus-shadow-color: rgba(225, 228, 232, 0.75);
  --secondary-button-focus-border-color: #d1d5da;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  --font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-weight-semibold: 600;
  --font-weight-light: 300;
  --font-size: 12px;
  --font-size-sm: 11px;
  --font-size-md: 14px;
  --font-size-lg: 28px;
  --font-size-xl: 32px;
  --font-size-xxl: 42px;
  --font-size-xs: 9px;
  --scroll-bar-thumb-background-color: rgba(0, 0, 0, 0.2);
  --scroll-bar-thumb-background-color-active: rgba(0, 0, 0, 0.5);
  --box-background-color: var(--background-color);
  --box-alt-background-color: #f6f8fa;
  --box-skeleton-background-color: #e1e4e8;
  --skeleton-background-gradient: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  --box-border-color: #e1e4e8;
  --box-border-accent-color: #0366d6;
  --box-selected-background-color: #ebeef1;
  --box-hover-text-color: #24292e;
  --box-selected-text-color: #24292e;
  --box-selected-border-color: #959da5;
  --box-selected-active-background-color: #0366d6;
  --box-selected-active-text-color: #fff;
  --box-selected-active-border-color: #959da5;
  --box-overflow-shadow-background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 90%, white 100%);
  --box-placeholder-color: #6a737d;
  --co-author-tag-background-color: #f1f8ff;
  --co-author-tag-border-color: #c8e1ff;
  --win32-title-bar-height: 28px;
  --darwin-title-bar-height: 22px;
  --spacing: 10px;
  --spacing-double: calc(var(--spacing) * 2);
  --spacing-triple: calc(var(--spacing) * 3);
  --spacing-quad: calc(var(--spacing) * 4);
  --spacing-half: calc(var(--spacing) / 2);
  --spacing-third: calc(var(--spacing) / 3);
  --border-radius: 3px;
  --base-border: 1px solid var(--box-border-color);
  --shadow-color: rgba(71, 83, 95, 0.19);
  --base-box-shadow: 0 2px 7px var(--shadow-color);
  --toolbar-height: 50px;
  --toolbar-background-color: #24292e;
  --toolbar-border-color: #24292e;
  --toolbar-text-color: #fff;
  --toolbar-text-secondary-color: #d1d5da;
  --toolbar-button-color: var(--toolbar-text-color);
  --toolbar-button-background-color: transparent;
  --toolbar-button-border-color: black;
  --toolbar-button-secondary-color: var(--toolbar-text-secondary-color);
  --toolbar-button-hover-color: #fff;
  --toolbar-button-hover-background-color: #2f363d;
  --toolbar-button-hover-border-color: var(--toolbar-button-border-color);
  --toolbar-button-focus-background-color: #2f363d;
  --toolbar-button-active-color: var(--text-color);
  --toolbar-button-active-background-color: var(--background-color);
  --toolbar-button-active-border-color: var(--background-color);
  --toolbar-button-progress-color: #2f363d;
  --toolbar-button-focus-progress-color: #444d56;
  --toolbar-button-hover-progress-color: #444d56;
  --toolbar-dropdown-open-progress-color: #e1e4e8;
  --app-menu-button-color: var(--toolbar-text-color);
  --app-menu-button-hover-color: var(--toolbar-button-hover-color);
  --app-menu-button-hover-background-color: var(--toolbar-button-hover-background-color);
  --app-menu-button-active-color: var(--toolbar-button-active-color);
  --app-menu-button-active-background-color: var(--toolbar-button-active-background-color);
  --app-menu-pane-color: var(--text-color);
  --app-menu-pane-secondary-color: var(--text-secondary-color);
  --app-menu-pane-background-color: var(--toolbar-button-active-background-color);
  --app-menu-divider-color: var(--box-border-color);
  --toolbar-badge-background-color: #586069;
  --toolbar-badge-active-background-color: #e1e4e8;
  --tab-bar-height: 29px;
  --tab-bar-active-color: #0366d6;
  --tab-bar-background-color: #fff;
  --tab-bar-hover-background-color: #f6f8fa;
  --tab-bar-count-color: var(--text-color);
  --tab-bar-count-background-color: #e1e4e8;
  --list-item-badge-color: #2f363d;
  --list-item-badge-background-color: #e1e4e8;
  --list-item-selected-badge-color: #24292e;
  --list-item-selected-badge-background-color: #d1d5da;
  --list-item-selected-active-badge-color: #24292e;
  --list-item-selected-active-badge-background-color: #fff;
  --list-item-hover-background-color: #f6f8fa;
  --win32-scroll-bar-size: 10px;
  --popup-z-index: 10;
  --popup-overlay-z-index: calc(var(--popup-z-index) - 1);
  --foldout-z-index: calc(var(--popup-z-index) - 2);
  --toast-notification-color: #fafbfc;
  --toast-notification-background-color: rgba(36, 41, 46, 0.6);
  --tip-box-background-color: rgba(3, 102, 214, 0.06);
  --tip-box-border-color: #c8e1ff;
  --focus-color: #0366d6;
  --text-field-height: 25px;
  --text-field-focus-shadow-color: rgba(3, 102, 214, 0.25);
  --primary-blankslate-action-background: #f1f8ff;
  --primary-blankslate-action-border-color: #c8e1ff;
  --diff-line-padding-y: 2px;
  --diff-text-color: #24292e;
  --diff-border-color: #e1e4e8;
  --diff-gutter-color: #e1e4e8;
  --diff-gutter-background-color: var(--background-color);
  --diff-line-number-color: #444d56;
  --diff-line-number-column-width: 50px;
  --diff-selected-background-color: #2188ff;
  --diff-selected-border-color: #005cc5;
  --diff-selected-gutter-color: #005cc5;
  --diff-selected-text-color: var(--background-color);
  --diff-add-background-color: #e6ffed;
  --diff-add-border-color: #85e89d;
  --diff-add-gutter-color: #85e89d;
  --diff-add-gutter-background-color: #cdffd8;
  --diff-add-inner-background-color: #acf2bd;
  --diff-add-text-color: var(--diff-text-color);
  --diff-delete-background-color: #ffeef0;
  --diff-delete-border-color: #fdaeb7;
  --diff-delete-gutter-color: #fdaeb7;
  --diff-delete-gutter-background-color: #ffdce0;
  --diff-delete-inner-background-color: #fdb8c0;
  --diff-delete-text-color: var(--diff-text-color);
  --diff-hunk-background-color: #f1f8ff;
  --diff-hunk-border-color: #c8e1ff;
  --diff-hunk-gutter-color: #afd3ff;
  --diff-hunk-gutter-background-color: #dbedff;
  --diff-hunk-text-color: #6a737d;
  --diff-hover-background-color: #79b8ff;
  --diff-hover-border-color: #2188ff;
  --diff-hover-gutter-color: #2188ff;
  --diff-hover-text-color: var(--background-color);
  --diff-add-hover-background-color: #85e89d;
  --diff-add-hover-border-color: #34d058;
  --diff-add-hover-gutter-color: #34d058;
  --diff-add-hover-text-color: var(--text-color);
  --diff-delete-hover-background-color: #fdaeb7;
  --diff-delete-hover-border-color: #f97583;
  --diff-delete-hover-gutter-color: #f97583;
  --diff-delete-hover-text-color: var(--text-color);
  --syntax-variable-color: #6f42c1;
  --syntax-alt-variable-color: #24292e;
  --syntax-keyword-color: #d73a49;
  --syntax-atom-color: #005cc5;
  --syntax-string-color: #032f62;
  --syntax-qualifier-color: #6f42c1;
  --syntax-type-color: #d73a49;
  --syntax-comment-color: #6a737d;
  --syntax-tag-color: #22863a;
  --syntax-attribute-color: #6f42c1;
  --syntax-link-color: #032f62;
  --syntax-header-color: #0000ff;
  --undo-animation-duration: 500ms;
  --error-color: #d73a49;
  --form-error-background: #ffdce0;
  --form-error-border-color: #fdaeb7;
  --form-error-text-color: #9e1c23;
  --overlay-background-color: rgba(0, 0, 0, 0.4);
  --dialog-warning-color: #f9c513;
  --dialog-error-color: #d73a49;
  --path-segment-background: #f1f8ff;
  --path-segment-padding: var(--spacing-third);
  --notification-banner-background: #f1f8ff;
  --notification-banner-border-color: #c8e1ff;
  --notification-ref-background: rgba(255, 255, 255, 0.75);
  --easing-ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --easing-ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --easing-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
};

.headers{
  background: var(--win32-title-bar-background-color);
  border-bottom: 1px solid #000;
}
.models{
  --easing-ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --easing-ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --easing-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
}